.example-page-container h1, .example-page-container h2, .example-page-container h3, .example-page-container h4, .example-page-container h5 {
	font-family: var(--secondary-font);
	font-weight: 800;
}

.example-page-container h3 {
	font-size: 36px;
}

.example-page-container p {
	font-size: 18px;
}

.example-page-container h3, .example-page-container p {
	font-style: normal;
	margin-bottom: 40px;
}

.example-page-container img {
  width: 300px;
}