footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 50px;
	width: 100%;
	background-color: #0D4B5E;
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 26px;
    z-index: 9999999999999999999999999;
    position: relative;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer .logo-igem {
    padding: 1.5rem;
    padding-right: 2rem;
    border-right: 2px solid white;
}

footer .social-container, footer .mail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-container > div:last-child {
    display: flex;
    margin-top: 1rem;
}

footer .social-container > div:last-child .placeholder-social-icon {
    width: 1.5rem;
    height: 1.5rem;
}

footer .social-container > div:last-child .placeholder-social-icon > object {
    width: 100%;
    height: 100%;
}

footer .social-container > div:last-child .placeholder-social-icon:nth-child(2) {
    margin: 0 1.5625rem;
}

footer .mail-container > a {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: white;
}

footer .grid-sponsors {
    display: grid;
    grid-template-columns: 200px repeat(2, 132px);
    column-gap: 41px;
    row-gap: 0;
}

@media (max-width: 1024px) {
    footer .grid-sponsors {
        width: 100%;
        justify-content: center;
        margin-top: 5vh;
    }
}

footer .grid-sponsors > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .grid-sponsors > div:first-child > div {
    height: 72px;
    width: 139px;
    margin-bottom: 0px;
}

footer .grid-sponsors > div > div {
    height: 42px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

footer .grid-sponsors > div:first-child > div > object {
    max-width: 100%;
    max-height: 100%;
}