@media (min-width: 1025px) {
  .landing-page-content {
    position: relative;
    width: 100vw;
  }

  .landing-page-content .content-container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
  }

  .landing-page-content .content-container .logo img {
    width: 280px;
    margin-bottom: 5px;
  }

  .landing-page-content .content-container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 20%;
  }

  .landing-page-content .content-container .logo h1 {
    margin: 0 !important;
    font-family: var(--main-font);
    font-size: 10vh;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 40px !important;
  }

  .landing-page-content .content-container .logo div {
    font-family: var(--main-font);
    font-size: 4vh;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
  }

  .landing-page-content .content-container:nth-child(2) > div {
    position: absolute;
    width: 20%;
    font-family: var(--main-font);
    font-size: 3vh;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
  }

  .landing-page-content .content-container:nth-child(2) > div > span {
    font-family: var(--secondary-font);
    font-size: 3vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
  }

  .landing-page-content .content-container:nth-child(2) > div:first-child {
    left: 10%;
    top: 10%;
  }

  .landing-page-content .content-container:nth-child(2) > div:last-child {
    right: 10%;
    bottom: 10%;
  }

  .landing-page-content .content-container:nth-child(3) > div {
    position: absolute;
    width: 20%;
    font-family: var(--main-font);
    font-size: 3vh;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
  }

  .landing-page-content .content-container:nth-child(3) > div span {
    font-family: var(--secondary-font);
    font-size: 3vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
  }

  .landing-page-content .content-container:nth-child(3) > div h2 {
    font-family: var(--secondary-font);
    font-size: 6vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #FCCEC0;
    margin: 0 !important;
    margin-bottom: 32px !important;
  }

  .landing-page-content .content-container:nth-child(3) > div:first-child {
    width: 40%;
    left: 10%;
    top: 10%;
  }

  .landing-page-content .content-container:nth-child(3) > div:first-child > div {
    width: 50%;
  }

  .landing-page-content .content-container:nth-child(3) > div:last-child {
    right: 10%;
    bottom: 10%;
  }

  .landing-page-content .content-container:nth-child(4) {
    position: relative;
    padding: 96px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 30%;
    column-gap: 56px;
    align-items: center;
  }

  .landing-page-content .content-container:nth-child(4) > div:last-child h3 {
    margin: 0 !important;
    margin-bottom: 7px !important;
    color: #FCCEC0;
    font-family: var(--secondary-font);
    font-size: 5vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
  }

  .landing-page-content .content-container:nth-child(4) > div:last-child div {
    margin: 0 !important;
    margin-bottom: 57px !important;
    font-family: var(--main-font);
    font-size: 3vh;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
  }

  .China, #IN, #IR, #SA, #EG, #ZA, #TZ, #MX, #BR, #CO, #EQ, #EC {
    fill: #FCCEC0;
  }

  .China:hover, #IN:hover, #IR:hover, #SA:hover, #EG:hover, #ZA:hover, #TZ:hover, #MX:hover, #BR:hover, #CO:hover, #EQ:hover, #EC:hover {
    fill: #EF9F89;
  }

  .map-tooltip {
    display: none;
    position: fixed;
    padding: 15px;
    background-color: #EF9F89;
    color: #000000;
    width: 205px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  .map-tooltip > div {
    font-family: var(--secondary-font);
    font-size: 2vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
  }

  .map-tooltip > table tr > th {
    font-family: var(--main-font);
    font-size: 1.2vh;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: right;
    padding: 9px 0;
  }

  .map-tooltip > table tr > th:first-child {
    text-align: left;
  }

  .map-tooltip > table tr > td {
    font-family: var(--secondary-font);
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: center;
    padding: 9px 0;
  }

  .map-tooltip > table tr:first-child {
    border-bottom: solid thin;
  }

  .map-tooltip > table {
    width: 100%;
    border-collapse: collapse;
  }

  .map path {
    stroke-width: 1;
    stroke: #0D4B5E;
  }

  .landing-page-content .content-container:nth-child(5) {
    position: relative;
    padding: 96px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
  }

  .landing-page-content .content-container:nth-child(5) > h2 {
    font-family: var(--secondary-font);
    font-size: 10vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #FCCEC0;
    margin: 0 !important;
    margin-bottom: 59px !important;
  }

  .landing-page-content .content-container:nth-child(5) > div {
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
  }

  .landing-page-content .content-container:nth-child(5) > div > div {
    font-family: var(--main-font);
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
  }

  .circles-container {
    margin: 0 64px !important;
  }

  .circles-container svg {
    width: 40vw;
  }

  .landing-page-content .solution-container {
    padding: 96px !important;
  }

  .landing-page-content .solution-container > h2 {
    width: 100%;
    margin: 0 !important;
    margin-bottom: 96px !important;
    font-family: var(--secondary-font);
    font-size: 10vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: center;
    color: #FCCEC0;
  }

  .landing-page-content .solution-container > div {
    display: flex;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
    margin-bottom: 80px;
  }

  .landing-page-content .solution-container > div > img,  .landing-page-content .solution-container > div > div {
    width: 45%;
  }

  .landing-page-content .solution-container > div > img {
    margin-right: 10% !important;
  }

  .landing-page-content .solution-container p {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
    height: fit-content;
    margin: 0 !important;
  }

  .landing-page-content .solution-container > div > div > h3 {
    margin: 0 !important;
    margin-bottom: 40px !important;
    font-family: var(--secondary-font);
    font-size: 7vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
    color: #FCCEC0;
  }

  .landing-page-content .solution-container > div > div {
    font-family: var(--main-font);
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
  }

  .landing-page-content .useful-links-container > div {
    display: flex;
    margin: 0 96px;
    margin-bottom: 96px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;
    justify-content: space-between;
  }

  .landing-page-content .useful-links-container > div > a > img {
    width: 16vw;
    margin-bottom: 20px !important;
  }

  .landing-page-content .useful-links-container > div > a {
    text-align: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    font-size: 2.5vh;
    color: #ffffff;
    text-decoration: none;    
  }

  .landing-page-content .useful-links-container > h2 {
    font-family: var(--secondary-font);
    font-size: 7vh;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: center;
    color: #FCCEC0;
    width: 100vw;
  }

  .ameba {
    position: fixed;
    width: 50%;
    height: 50%;
  }
}