@media(min-width: 1025px) {
  .nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0 !important;
    margin-right: 2rem !important;
    list-style-type: none;
    list-style-image: none;
  }

  .nav-item {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 0 25px;
    cursor: pointer;
  }
  .nav-item:focus-within .dropdown-menu {
    display: block;
  }
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .nav-dropdown-title {
    height: 5rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
    list-style: none;
  }
  .nav-dropdown-title img {
    border-radius: 1px;
    width: 15px;
    height: 10px;
    margin-left: 5px;
    padding-top: 2px;
  }
  .dropdown-menu {
    position: absolute;
    list-style: none;
    text-align: center;
    display: none;
    margin: 0 !important;
    left: 0;
    width: 12rem;
    background: rgba(13, 75, 94, 0.7);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(70px);
    padding: 0;
    margin: 0;
    transform: translateY(1px);
  }
  .dropdown-menu li {
    position: relative;
    display: block;
    cursor: pointer;
    font-weight: 400;
    width: 100%;
  }
  .dropdown-menu li:hover {
    background: #fccec0;
  }
  .dropdown-menu li:focus-within {
    background: #fccec0;
  }
  .dropdown-link {
    display: block;
    text-decoration: none;
    padding: 16px;
    color: white;
    text-align: center;
  }
  .dropdown-link:hover {
    color: #000000;
  }
  .dropdown-link:focus-within {
    color: #000000;
  }
  li[role="tab"] {
    outline: none;
  }
  li[role="tab"]:focus {
    outline: none;
  }
  li[role="tab"] img {
    transition: transform 200ms linear;
    transform: rotate(360deg);
  }
  li[role="tab"]:focus-within img {
    transform: rotate(180deg);
    transition: transform 200ms linear;
  }
}